main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
}

.container {
  display: flex;
  width: 27%;
  border: 2px solid black;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

div {
  text-align: center;
}

.blue {
  height: 50px;
  background-color: rgb(249, 208, 6);
  color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-rect {
  width: 40%;
  height: 30px;
  background-color: white;
  margin-right: 50%;
  left: 5px;
  border: 2px solid black;
}

.main-content {
  display: flex;
  justify-content: flex-start;
}

.second {
  width: 25%;
  height: 311px;
  background-color:rgb(34, 34, 236);
  text-align: center;
  border: 4px solid black;
  border-right: 0px;
  box-sizing: border-box;
}

.two {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 0;
  border: 2px solid black;
  box-sizing: border-box;
}

.space {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 250px;
  background-color: white;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 0px;
  box-sizing: border-box;
}

.third {
  width: 35%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.red-rect {
  width: 100%;
  height: 30px;
  background-color: red;
  position: absolute;
  bottom: -1px;
  border: 2px solid black;
}

.fourth {
  width: 35%;
  height: 90%;
  background-color:rgb(34, 34, 236);
  border: 2px solid black;
  margin: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
